<!DOCTYPE html>
<html lang="en">
    
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Página 1</title>
    <link rel="stylesheet" href="../styles.css">
</head>

<body>

    <main>
        <!-- Contenido específico de la página 1 -->
        <h2>Página 1</h2>
        <p>Este es el contenido de la página 1.</p>

        <body>

            <form>
                <label for="type">¿Qué tipo de crédito esta buscando?</label>
                <select id="type" name="type">
                    <option value="french">Seleccionar un elemento</option>
                </select>

                <label for="amount">Monto que dinero que necesita</label>
                <input type="number" id="amount" name="amount" required>

                <label for="period">¿En cuantos tiempo quiere pagarlo?</label>
                <input type="number" id="period" name="period" required>

                <label for="system">Sistema de amortización</label>
                <select id="system" name="system">
                    <option value="french">FRANCÉS (CUOTA FIJA)</option>
                    <option value="usd">USD</option>
                </select>

                <button type="submit">Generar</button>
                <button type="reset">Limpiar</button>

                <table id="tabla1">
                    <tr>
                        <th>Concepto</th>
                        <th>USD</th>
                        <th>Explicación en términos utilizados</th>
                    </tr>
                    <tr>
                        <th>Concepto1</th>
                        <th>123</th>
                        <th> términos utilizados</th>
                    </tr>
                </table>
                <table id="tabla2">
                    <!-- Contenido de la segunda tabla -->
                </table>
                <table id="tabla3">
                    <!-- Contenido de la tercera tabla -->
                </table>

            </form>
        </body>
    </main>
</body>

</html>